html, body{
	height: 100%;
}
body{
	background-color: #FFFFFF;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	margin: 0;
	min-height: 450px;
	min-width: 500px;
}
@media (max-width: 637px){
	#lateral{
		width: 175px;
	}
	#produtos{
		width: calc(100% - 191px);
	}
}
@media (min-width: 637px){
	#lateral{
		width: 30%;
	}
	#produtos{
		width: calc(70% - 16px);
	}
}
#menu{
	background-color: #FFFFFF;
	border: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	display: inline-block;
	height: 60px;
	margin: 0;
	width: 100%;
}
#menu a{
	color: #333333;
	float: left;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 37px 10px 8px 10px;
	text-decoration: none;
}
#menu a:hover{
	background-color: #333333;
	color: #FFFFFF;
}
#menu .inicio{
	background-color: #FFFFFF;
	opacity: 80%;
	margin-right: 10px;
	padding: 7px 10px 0px 10px;
}
#menu .inicio:hover{
	background-color: #FFFFFF;
	opacity: 100%;
}
#titulo{
	background-color: #FFFFFF;
	border: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #101010;
	height: 150px;
	position: relative;
	width: 100%;
}
h1{	
	font-family: Georgia, serif;
	font-size: 48px;
	font-weight: bold;
	margin: 0;
	position: absolute;
	left: 50%;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}
#lateral, #produtos{
	height: calc(100% - 215px);
}
#lateral{
	background-color: #FFFFFF;
	float: left;
	line-height: 1.5;
	margin: 0;
	padding: 0 8px 0 8px;
	position: relative;
}
label{
	color: #101010;
	font-weight: bold;
}
input, select{
	background-color: #484848;
	border: none;
	box-sizing: border-box;
	color: #CCCCCC;
	font-size: 12px;
	height: 24px;
	margin: 0;
	outline: none;
	width: 100%;
}
#lateral .cancelar{
	color: #101010;
	font-size: 12px;
	left: 0;
	margin-left: 8px;
}
#lateral .salvar{
	background-color: #101010;
	border: none;
	cursor: pointer;
	color: #CCCCCC;
	margin-right: 8px;
	padding: 14px;
	right: 0;
	text-decoration: none;
}
.cancelar, .salvar{
	position: absolute;
	bottom: 20px;
}
#produtos{
	background-color: #101010;
	border: 1px;
	border-left-color: #101010;
	border-left-style: solid;
	box-sizing: border-box;
	float: right;
	margin: 0;
	overflow: auto;
}
.pesquisa{
	display: flex;
	margin-bottom: 1px;
}
.pesquisa .botao-pesquisa{
	background-color: #CCCCCC;
	border: 0;
	cursor: pointer;
	padding: 0 8px 0 8px;
}
.pesquisa #barra-pesquisa{
	background-color: #FFFFFF;
	color: #101010;
	font-size: 12px;
	height: 40px;
	outline: none;
	padding-left: 8px;
	width: calc(100% - 20px);
}
.lista{
	margin: 0;
	padding: 0;
	width: 100%;
}
.item{
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	color: #CCCCCC;
	display: inline-flex;
	height: 70px;
	margin: 0;
	padding: 5px 0 5px 0;
	position: relative;
	width: 100%;
}
#seleciona{
	height: 20px;
	margin: 25px 15px 25px 15px;
	width: 20px;
}
.nome-item, .preco-item{
	height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}
.nome-item{
	margin: 28px 15px 28px 15px;
	width: calc(100% - 250px);
}
.preco-item{
	margin: 28px 15px 28px 15px;
	position: absolute;
	right: 0;
	text-align: right;
	width: 70px;
}